In [1]:
import geopandas as gpd

In [13]:
# gdf = gpd.read_file('./data/pluto_all_buildings/pluto.shp')
gdf = gpd.read_file("./data/pluto_all_buildings_MN.geojson")

In [14]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 42327 entries, 0 to 42326
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   borough   42327 non-null  object
 1   geometry  42327 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 661.5+ KB

In [15]:
gdf.head()

  borough                                           geometry
0      MN  POLYGON ((-74.01554 40.71338, -74.01550 40.713...
1      MN  POLYGON ((-74.00747 40.71085, -74.00729 40.710...
2      MN  POLYGON ((-74.00974 40.71565, -74.00988 40.715...
3      MN  POLYGON ((-74.01206 40.70293, -74.01212 40.703...
4      MN  POLYGON ((-74.01322 40.71833, -74.01319 40.718...

In [5]:
gdf.borough.unique()

array(['SI', 'MN', 'BX', 'BK', 'QN'], dtype=object)

In [9]:
gdf[gdf.borough == 'MN'].shape

(42327, 2)

In [3]:
import shapely.geometry as geom

In [7]:
# 40.76661562871582, -73.97943755429039

# 40.76661559663138, -73.97943743843283 - rtree
# 40.76662702413226, -73.97947130169464 - original
# New
# 40.74170474970531, -73.99418212120224
# 40.741711635762776, -73.99416914087064


point_1 = (40.76661559663138, -73.97943743843283)
point_2 = (40.76662702413226, -73.97947130169464)


point_1 = gpd.GeoSeries(geom.Point(point_1[1], point_1[0]), crs=4326).to_crs(epsg=2263)
point_2 = gpd.GeoSeries(geom.Point(point_2[1], point_2[0]), crs=4326).to_crs(epsg=2263)

# Find the distance between two points
point_1.distance(point_2)

0    10.262715
dtype: float64

In [26]:
# check the distance unit
point_1.crs

<Derived Projected CRS: EPSG:2263>
Name: NAD83 / New York Long Island (ftUS)
Axis Info [cartesian]:
- X[east]: Easting (US survey foot)
- Y[north]: Northing (US survey foot)
Area of Use:
- name: United States (USA) - New York - counties of Bronx; Kings; Nassau; New York; Queens; Richmond; Suffolk.
- bounds: (-74.26, 40.47, -71.8, 41.3)
Coordinate Operation:
- name: SPCS83 New York Long Island zone (US Survey feet)
- method: Lambert Conic Conformal (2SP)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich